repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.15.0
  hooks:
  - id: markdownlint-cli2
    args: ["--config", ".markdownlint-cli2.jsonc"]
    files: '(README|CONTRIBUTING|LICENSE|CHANGELOG)\.md$|^(docs|tests|\.dev-guidelines)/.*\.md$'
- repo: https://github.com/checkmake/checkmake.git
  # Or another commit hash or version
  rev: 0.2.2
  hooks:
  # Use this hook to let pre-commit build checkmake in its sandbox
  - id: checkmake
- repo: local
  hooks:
  - id: pyright
    name: pyright
    entry: uv run pyright ml_playground
    language: system
    pass_filenames: false
  - id: mypy
    name: mypy
    entry: uv run mypy --incremental ml_playground
    language: system
    pass_filenames: false
  - id: vulture
    name: vulture
    entry: uv run vulture ml_playground --min-confidence 90
    language: system
    pass_filenames: false
  - id: pytest
    name: pytest
    entry: bash
    args:
      - -c
      - HYPOTHESIS_DATABASE_DIRECTORY=.cache/hypothesis HYPOTHESIS_STORAGE_DIRECTORY=.cache/hypothesis uv run pytest -q -n auto -W error --strict-markers --strict-config tests
    language: system
    pass_filenames: false
