.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
.idea/
data/shakespeare_char/input.txt
data/shakespeare_char/meta.pkl
data/shakespeare_char/train.bin
data/shakespeare_char/val.bin
out-shakespeare-char/
venv/
