hmmlearn==0.3.3.post1+ge01a10e
pandas==2.2.3
protobuf==5.29.4
async-timeout==5.0.1
idna==3.10
sentry-sdk==2.24.0
filelock==3.13.1
zipp==3.21.0
requests==2.32.3
frozenlist==1.5.0
attrs==25.3.0
pydantic==2.10.6
wrapt==1.17.0
sympy==1.13.3
GitPython==3.1.44
huggingface-hub==0.29.3
networkx==3.4.2
tiktoken==0.9.0
tqdm==4.67.1
urllib3==2.3.0
opentelemetry-api==1.26.0
click==8.1.8
numpy==1.26.4
multidict==6.2.0
tokenizers==0.21.1
transformers==4.50.0
multiprocess==0.70.16
xxhash==3.5.0
pip==25.0
regex==2024.11.6
propcache==0.3.0
fsspec==2024.12.0
gitdb==4.0.12
psutil==7.0.0
aiohttp==3.11.14
python-dateutil==2.9.0.post0
mpmath==1.3.0
torch==2.5.1
yarl==1.18.3
charset-normalizer==3.4.1
packaging==24.2
wandb==0.19.8
gmpy2==2.2.1
setuptools==75.8.0
certifi==2025.1.31
setproctitle==1.3.5
tzdata==2025.1
platformdirs==4.3.7
pydantic_core==2.27.2
Deprecated==1.2.13
Jinja2==3.1.6
wheel==0.45.1
pyarrow==19.0.1
dill==0.3.8
docker-pycreds==0.4.0
aiohappyeyeballs==2.6.1
einops==0.8.1
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
smmap==5.0.2
safetensors==0.5.3
pytz==2025.1
annotated-types==0.7.0
six==1.17.0
importlib-metadata==7.0.1
datasets==3.4.1
MarkupSafe==3.0.2
